body{
  font-family: 'Poppins', sans-serif;
}


.top_heading{
  font-weight: 800;
  text-align: center;
  font-size: 370%;
  color: #80C8F0;
  margin: 0%;
  font-family: Lilita One;
}
.sub_heading{
  margin: 0%;
  font-weight: 400;
  font-size: 180%;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #FEC68D;
  font-family: Gabriela;
}
.line_{
  display: flex;
  justify-content: center;
  align-items: center;
}
.line{
  background-color: #FEC68D;
  width: 10%;
  height: 0.7vh;
  margin-top: 0px;
}
.main_div{
  width: auto;
  margin: 25px;
  height: 65vh;
  padding: 20px;
  border: 2px solid #FEC68D;
  border-radius: 40px;
}
.home_div{
  height: 65vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  width: auto;
  /*height: 65vh;*/
}
.home_p{
  width: 90%;
  padding-left:20px;
}
.home_li{
  margin-bottom: 1.5%;
  font-size: 20px;
  color: #A89A9A;
}
.langSection{
  text-align: center;
  margin-top: -50px;
}
.lastspan{
  text-align: center;
  font-weight: 600;
  color: #A89A9A;
}
.selLang{
  margin-top: 2%;
  width: max-content;
  height: 10%;
  border: none;
  color: 
  #A89A9A;
  border-radius: 10px;
  box-shadow: 0px 0px 5px ;
  padding:1%;
  text-align: center;
}
.home_submit{
  margin-top: 2%;
  width: max-content;
  height: 7vh;
  padding: 1%;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 10px;
  border: none;
  background-color: #80C8F0;
  color: #fff;
  margin-bottom: 20px;
}
.home_span{
  color: black;
}
.home_div::-webkit-scrollbar{
  width: 10px;
}
.home_div::-webkit-scrollbar-track{
  background-color: rgb(182, 182, 182);
  border-radius: 30px;
}
.home_div::-webkit-scrollbar-thumb{
  background: #FEC68D;
  border-radius: 30px;
}