body{
  font-family: 'Poppins', sans-serif;
}
.headingCont{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home_div{ 
position: absolute;
width: 90%;
height: 70vh;
left: 5%;
top: 30%;
border: 1px solid #F7A707;
box-sizing: border-box;
border-radius: 46px;
margin-top: -20px;
}
.top_heading{
  position: absolute;
  width: 486px;
  height: 85px;
  text-align: center;
  top: 29px;
  margin-top: -20px;
  font-family: Lilita One;
  font-style: normal;
  font-weight: normal;
  font-size: 71.3043px;
  line-height: 85px;
  letter-spacing: 0.045em;
  color: #80C8F0;
}
.sub_heading{
  position: absolute;
  width: 243px;
  height: 51px;
  top: 115px;
  font-family: Gabriela;
  font-style: normal;
  font-weight: normal;
  margin-top: -20px;
  font-size: 41px;
  line-height: 51px;
  letter-spacing: 0.015em;
  color: #FEC68D;
}
.home_p{
  margin-top: -20px;
  margin-left: -100px;
position: absolute;
width: 95%;
height: 489px;
left: 85px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 21px;
line-height: 229.7%;
letter-spacing: 0.075em;
color: #3d3d3d;
}
.selLang{
position: absolute;
width: 111px;
height: 31px;
left: 360px;
top: 240%;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 135.9%;
text-align: center;
letter-spacing: 0.065em;
color: #A89A9A;
position: absolute;
width: 138px;
height: 50px;
left:48%;

background: #FFFFFF;
border: 1px solid #A89A9A;
box-sizing: border-box;
border-radius: 11px;
}
.home_submit{
position: absolute;
width: 198px;
height: 53px;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
background: #80C8F0;
border-radius: 8px;
position: absolute;
width: 255px;
height: 32px;
left: 30%;
top: 1180px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 135.9%;
letter-spacing: 0.065em;
color: #FFFFFF;
}
.top_heading{
  text-align: center;
  font-weight:900;
  font-size: 70px;
}
.sub_heading{
  margin-bottom: 10px;
  text-align: center;
  font-size: 30px;
  
}
h1{
  text-align: center;
}
.home_span{
  font-weight: bold;
  color:#1f1f1f;
}
.lastspan{
  position: absolute;
width: 645px;
height: 43px;
left: 28%;
top: 225%;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 21px;
line-height: 167.69%;
/* or 35px */

letter-spacing: 0.075em;

color: #A89A9A;
}
.home_submit{
  border: 2px solid;
  background-color: #80C8F0;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  height: 45px;
  width: 400px;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  top: 260%;
  left: 38%;
}
.main_div{flex: 1 100%;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
}
.home_div{
  display: block; 
/*  width:94%;*/
  margin: 30px 0;
  padding: 40px;
  box-shadow: 0 3px 18px lightgray;
  text-align: center;
  margin-top: -20px;
  flex: 1 100%;
}
.home_li{
  margin-bottom: 10px;
  font-weight: 400;
  color: rgb(26, 26, 26);
}

.home_ul{
  text-align: left;
}
.labelLanguage{
    margin-right: 10px;
    font-weight: bold;
}