*{
    width: 100%;

}
.login_side{
    background-color: aqua;
}
.img_side{
    width: 47%;
    background-color: #FEC68D;
}
.girl_img{
    position: absolute;
    width: 40%;
    right: 6%;
    top: 5%;
}
.login_img{
    z-index: 1;
    position: absolute;
width: 30%;
left: 12%;
top: 6%;
}
.form_area{
    position: absolute;
width: 47%;
height: 50%;
left: 7%;
top: 42%;
background: #FFFFFF;
border: 2px solid #FEC68D;
box-sizing: border-box;
border-radius: 97px;
}
.input2{
    position: absolute;
width: 60%;
height: 46.23px;
left: 100px;
top: 43%;
background: rgba(255, 255, 255, 0.79);
padding-left: 9%;
border: 1px solid #B7B4B4;
box-sizing: border-box;
border-radius: 8px;
cursor: pointer;
color: #B7B4B4;
}
.input1{
    position: absolute;
    cursor: pointer;
width: 60%;
height: 46.23px;
left: 100px;
top: 23%;
padding-left: 9%;
background: rgba(255, 255, 255, 0.79);
border: 1px solid #B7B4B4;
box-sizing: border-box;
border-radius: 8px;
color: #B7B4B4;
}
.user_svg{
    position: absolute;
width: 33px;
height: 33px;
left: 116px;
top: 25%;
color: #000;
}
.pass_svg{
    position: absolute;
width: 33px;
height: 33px;
left: 116px;
top: 44%;
color: #000;
}
.submit_button{
    position: absolute;
width: 198px;
height: 53px;
left: 30%;
top: 65%;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
background: #80C8F0;
border: none;
border-radius: 8px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
color: #fff;
}
.lastLine{
    position: absolute;
width: 283px;
height: 36px;
left: 30%;
top: 80%;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
}
span{
    color: #FEC68D;
}
